.header {
  max-width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
  position: absolute;
  width: 100%;
  height: 60px;
  left: 0px;
  top: 0px;
  border: 1px solid #dddddd;
}

.header__logo {
  background-image: url(../../img/header-logo.svg);
  width: 44px;
  height: 44px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 15px;
}

.header__navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__navigation__nav-list {
  max-height: 0;
  max-width: 0;
  overflow: hidden;
  margin: 0 auto;
}

.header__navigation__search {
  display: flex;
  flex-direction: row;
}

.header__navigation__search__menu-outlined {
  background-image: url(../../img/header-menu-outlined.svg);
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 22px;
  border: 1px solid #dddddd;
}

.header__navigation__search__search-outlined {
  background-image: url(../../img/header-search-outlined.svg);
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 22px;
}
