.cards {
  max-width: 100vw;
  padding-top: 181px;
  margin: 0 auto;
}

.cards__title {
  font-weight: 700;
  font-size: 46px;
  line-height: 100%;
  text-transform: uppercase;
  max-width: 100%;
  margin: 0 17px;
}

.cards__container {
  padding: 80px 17px;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.cards__container__card {
  display: flex;
  flex-direction: column;
  border: 1px solid #dddddd;
}

.cards__container__card__image {
  display: flex;
  flex-direction: row;
}

.cards__container__card__image__purple {
  background: #753bbd;
  width: 10px;
  height: 190px;
  position: relative;
}

.cards__container__card__image__img-360 {
  position: absolute;
  z-index: 1;
}

.cards__container__card__image__img {
  position: relative;
  width: 330px;
  height: 190px;
}

.cards__container__card__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  padding: 20px;
}

.cards__container__card__text__title__first-text-card {
  font-weight: 700;
  font-size: 18px;
  line-height: 133%;
  padding-bottom: 18px;
}

.cards__container__card__text__title__second-text-card {
  font-weight: 500;
  font-size: 16px;
  line-height: 115%;
  text-transform: uppercase;
}

.cards__container__card__text__subtitle__text-card {
  display: flex;
  flex-direction: row;
}

.cards__container__card__text__subtitle__text-card:first-child {
  padding-bottom: 11px;
}

.cards__container__card__text__subtitle__first-text-card__txt {
  font-weight: 400;
  font-size: 10px;
  line-height: 115%;
}

.cards__container__card__text__subtitle__first-text-card__img {
  width: 12px;
  height: 12px;
  padding-right: 10px;
  align-self: center;
}

.cards__container__card__image__empty {
  width: 330px;
}
