body {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #131313;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  display: block;
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  color: #1d386e;
}

a:focus {
  color: #3760b3;
}

figure {
    margin: 0;
    height: 190px;
}

p {
    margin: 0;
}